In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['athlete_events.csv', 'noc_regions.csv']

* ID - Unique number for each athlete
* Name - Athlete's name
* Sex - M or F
* Age - Integer
* Height - In centimeters
* Weight - In kilograms
* Team - Team name
* NOC - National Olympic Committee 3-letter code
* Games - Year and season
* Year - Integer
* Season - Summer or Winter
* City - Host city
* Sport - Sport
* Event - Event
* Medal - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
dataevents = pd.read_csv("../input/athlete_events.csv")
dataregions = pd.read_csv("../input/noc_regions.csv")

In [4]:
dataevents.head()

   ID                      Name  ...                               Event  Medal
0   1                 A Dijiang  ...         Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...        Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...             Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...         Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...    Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

In [5]:
dataevents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [6]:
dataregions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [7]:
dataevents.Sex.unique()

array(['M', 'F'], dtype=object)

In [8]:
dataregions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
NOC       230 non-null object
region    227 non-null object
notes     21 non-null object
dtypes: object(3)
memory usage: 5.5+ KB

In [9]:
#list(dataevents.Name.unique())

1.  How old were the youngest male and female participants of the 1996 Olympics?

 * 16 and 15
 * 14 and 12
 * 16 and 12
 * 13 and 11

In [10]:
dataevents[dataevents['Year']==1996].groupby(["Sex"])["Age"].min()

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

In [11]:
def fdistribucion(base,decimales):
    cont = 0
    for i in lista_variables:
        cont = cont + 1
        print("------------------------------------------------------")
        print(str(cont),". Var: ",i, sep = "")
        print(pd.concat([pd.DataFrame(base[:][i].value_counts(dropna = False).index, columns = ['Atributo']),
               pd.DataFrame(base[:][i].value_counts(dropna = False).values, columns = ['Cantidad']),
               pd.DataFrame(np.round(100*base[:][i].value_counts(dropna = False).values/len(base),decimales), columns = ['%Total'])], axis = 1))

In [12]:
lista_variables = ['Sport']


2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.

Hint: here and further if needed drop duplicated sportsmen to count only unique ones.

*         0.2
*         1.5
*         2.5
*         7.7

In [13]:
fdistribucion(dataevents[(dataevents['Year'] ==2000) & (dataevents['Sex'] == 'M')].drop_duplicates(subset=['Name']),1)

------------------------------------------------------
1. Var: Sport
             Atributo  Cantidad  %Total
0           Athletics      1257    19.1
1            Swimming       558     8.5
2              Rowing       363     5.5
3             Cycling       341     5.2
4           Wrestling       314     4.8
5              Boxing       307     4.7
6             Sailing       307     4.7
7            Football       266     4.0
8            Shooting       262     4.0
9            Canoeing       249     3.8
10               Judo       236     3.6
11           Baseball       192     2.9
12             Hockey       191     2.9
13           Handball       177     2.7
14      Weightlifting       161     2.4
15         Water Polo       153     2.3
16         Basketball       144     2.2
17         Volleyball       141     2.1
18            Fencing       134     2.0
19      Equestrianism       128     1.9
20         Gymnastics        97     1.5
21             Tennis        93     1.4
22       Table Tennis        86     1.3
23          Badminton        85     1.3
24             Diving        80     1.2
25            Archery        64     1.0
26          Taekwondo        54     0.8
27          Triathlon        52     0.8
28   Beach Volleyball        48     0.7
29  Modern Pentathlon        24     0.4
30       Trampolining        12     0.2


**3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.**

*     178.5 and 7.2
*     179.4 and 10
*     180.7 and 6.7
*     182.4 and 9.1

In [14]:
devent2=dataevents[(dataevents['Year']==2000) & (dataevents['Sex']=='F')  & (dataevents['Sport']=='Basketball') ]
np.round(devent2.groupby(["Sport"])["Height"].mean())

Sport
Basketball    182.0
Name: Height, dtype: float64

In [15]:
np.round(devent2.groupby(["Sport"])["Height"].std(),1)

Sport
Basketball    9.1
Name: Height, dtype: float64


**4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?**

*     Judo
*     Bobsleigh
*     Weightlifting
*     Boxing

In [16]:
dataevents[(dataevents['Year'] == 2002)]['Weight'].max()

123.0

In [17]:
dataevents[(dataevents['Year'] == 2002) & (dataevents['Weight'] == 123.0)]['Sport']

99154    Bobsleigh
Name: Sport, dtype: object

**5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?**

*     0
*     1
*     2
*     3

In [18]:
dataevents.Sport.unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [19]:
devent5=dataevents[(dataevents['Name']=='Pawe Abratkiewicz')  ]

In [20]:
devent5.Year.unique()

array([1992, 1998, 2002])

**6. How many silver medals in tennis did Australia win at the 2000 Olympics?**

*     0
*     1
*     2
*     3

In [21]:
devent6=dataevents[(dataevents['Year']==2000) & (dataevents['Team']=='Australia') &  (dataevents['Sport']=='Tennis') &  (dataevents['Medal']=='Silver')]

In [22]:
print('cantidad de medallas: ',devent6['Medal'].value_counts())
devent6.head()

cantidad de medallas:  Silver    2
Name: Medal, dtype: int64

            ID                    Name   ...                   Event   Medal
262820  131504  Todd Andrew Woodbridge   ...    Tennis Men's Doubles  Silver
262831  131511  Mark Raymond Woodforde   ...    Tennis Men's Doubles  Silver

[2 rows x 15 columns]

**7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in Medal column.**
*     Yes
*     No

In [23]:
devent7=dataevents[(dataevents['Year']==2016) & (dataevents['Team']=='Switzerland') ] #
devent7.Medal.count()

11

In [24]:
devent7=dataevents[(dataevents['Year']==2016) & (dataevents['Team']=='Serbia') ] #
devent7.Medal.count()

54

**8. ¿A qué categoría de edad pertenecían la menor cantidad y la mayoría de los participantes de los Juegos Olímpicos de 2014?**
*     [45-55] y [25-35] correspondientemente
*     [45-55] y [15-25] correspondientemente
*     [35-45) y [25-35] correspondientemente
*     [45-55] y [35-45] correspondientemente

In [25]:
bins = [15, 25, 35,45,55] 
dataevents['age_bin'] = pd.cut(dataevents['Age'], bins = bins,right = True)

In [26]:
dataevents[(dataevents['Year'] ==2014) ].agg(['min','max'])['Age']

min    15.0
max    55.0
Name: Age, dtype: float64

In [27]:
list(dataevents.age_bin.unique())

[Interval(15, 25, closed='right'),
 Interval(25, 35, closed='right'),
 Interval(45, 55, closed='right'),
 Interval(35, 45, closed='right'),
 nan]

In [28]:
p4=dataevents[(dataevents['Year'] ==2014) ]
p4.groupby(["age_bin"])["Age"].count()

age_bin
(15, 25]    2412
(25, 35]    2281
(35, 45]     184
(45, 55]       4
Name: Age, dtype: int64

In [29]:
lista_variables= ['Age']
fdistribucion(dataevents[(dataevents['Year'] ==2014) ],1)

------------------------------------------------------
1. Var: Age
    Atributo  Cantidad  %Total
0       24.0       420     8.6
1       23.0       396     8.1
2       25.0       395     8.1
3       26.0       384     7.9
4       28.0       376     7.7
5       27.0       363     7.4
6       22.0       361     7.4
7       29.0       282     5.8
8       21.0       280     5.7
9       30.0       242     4.9
10      20.0       206     4.2
11      31.0       201     4.1
12      19.0       142     2.9
13      32.0       142     2.9
14      33.0       135     2.8
15      18.0       130     2.7
16      35.0        82     1.7
17      34.0        74     1.5
18      36.0        70     1.4
19      17.0        58     1.2
20      37.0        30     0.6
21      38.0        25     0.5
22      16.0        24     0.5
23      40.0        18     0.4
24      39.0        14     0.3
25      41.0        14     0.3
26      15.0        10     0.2
27      42.0         6     0.1
28      43.0         3     0.1
29      44.0         3     0.1
30      45.0         1     0.0
31      55.0         1     0.0
32      47.0         1     0.0
33      46.0         1     0.0
34      48.0         1     0.0

**9. ¿Es cierto que hubo Olimpiadas de Verano en Lake Placid? ¿Es verdad que hubo Olimpiadas de Invierno en Sankt Moritz?**

*     Sí Sí
*     Si no
*     No si
*     No no

In [30]:
dataevents[(dataevents['Season']=='Summer') & (dataevents['City']=='Lake Placid') ].City.unique()

array([], dtype=object)

In [31]:
dataevents[(dataevents['Season']=='Winter') & (dataevents['City']=='Sankt Moritz')  ].City.unique()

array(['Sankt Moritz'], dtype=object)

In [32]:
#& (dataevents['City']=='Lake Placid')
dataevents.City.unique()

array(['Barcelona', 'London', 'Antwerpen', 'Paris', 'Calgary',
       'Albertville', 'Lillehammer', 'Los Angeles', 'Salt Lake City',
       'Helsinki', 'Lake Placid', 'Sydney', 'Atlanta', 'Stockholm',
       'Sochi', 'Nagano', 'Torino', 'Beijing', 'Rio de Janeiro', 'Athina',
       'Squaw Valley', 'Innsbruck', 'Sarajevo', 'Mexico City', 'Munich',
       'Seoul', 'Berlin', 'Oslo', "Cortina d'Ampezzo", 'Melbourne',
       'Roma', 'Amsterdam', 'Montreal', 'Moskva', 'Tokyo', 'Vancouver',
       'Grenoble', 'Sapporo', 'Chamonix', 'St. Louis', 'Sankt Moritz',
       'Garmisch-Partenkirchen'], dtype=object)

**10. ¿Cuál es la diferencia absoluta entre el número de deportes únicos en los Juegos Olímpicos de 1995 y los Juegos Olímpicos de 2016? **

In [33]:
a=dataevents[(dataevents['Year']==1995) ].Sport.unique()
a=pd.DataFrame(a)
a=a.count()

In [34]:
d=dataevents[(dataevents['Year']==2016) ].Sport.unique()
d=pd.DataFrame(d)
d=d.count()

In [35]:
np.abs(a-d)

0    34
dtype: int64